<!DOCTYPE html>
<html>
<head>
    <title>{{ thread.subject }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'board/css/style.css' %}">
</head>
<body>
    <h1>{{ thread.subject }}</h1>
    <p>Board: <a href="{% url 'board_view' board.code %}">{{ board.name }}</a></p>

    <hr>

    {% for post in posts %}
    <div>
        {% if post.is_op %}<strong>OP</strong>{% endif %}
        <span>{{ post.name }}</span>
        <span>{{ post.created_at }}</span>
        {% if post.subject %}<h4>{{ post.subject }}</h4>{% endif %}

        {% if post.image %}
        <div>
            <img src="{{ post.image.url }}" alt="Post image" style="max-width: 200px;">
        </div>
        {% endif %}

        <p>{{ post.message|linebreaks }}</p>
    </div>
    <hr>
    {% endfor %}

    <h2>Post a Reply</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post</button>
    </form>
</body>
</html>